@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Movies</h2>
@using (@Html.BeginForm("New", "Movies"))
{
    <button type="submit" class="btn btn-primary">+</button>
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                language: {
                    lengthMenu: "Entries: _MENU_"
                },
                ajax: {
                    url: "api/movies",
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: "name",
                            render: function (data, type, movie) {
                                return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                            }
                        },
                        {
                            data: "genre.name"
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<button type='button' class='btn btn-link js-delete' data-movie-id='" + data + "'>Delete</button>";
                            }
                        }
                    ]
            });
            $("#movies").on("click", ".js-delete", function () {
                let button = $(this);
                bootbox.confirm("This is not reversible. Continue?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            })
        });
    </script>
}
