@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewData["Title"] = "Random";
}

@{
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className"> @Model.Movie.Name </h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before :c</text>
}
else
{
    <text>The next customers have rented this movie: </text>
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}



